USE [master]
GO
/****** Object:  Database [BDComisariato]    Script Date: 09/11/2017 11:43:20 ******/
CREATE DATABASE [BDComisariato]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDComisariato', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDComisariato.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDComisariato_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BDComisariato_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDComisariato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDComisariato]
GO
/****** Object:  StoredProcedure [dbo].[DEVOLUCIONVENTA]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[DEVOLUCIONVENTA]
@codigobarraproducto varchar(20),@cant INT,@estado int,@numfact int

AS
DECLARE @ERROR INT, @IDENCABEZADOCOMPRA INT
BEGIN TRAN
--hola
declare @CantActual int;
set @CantActual =(select U.CANTIDAD from TbProducto U where U.CODIGOBARRA=@codigobarraproducto)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR

declare @cantidactualizada int;
set @cantidactualizada=@CantActual+@cant;
UPDATE TbProducto SET CANTIDAD =@cantidactualizada  WHERE CODIGOBARRA = @codigobarraproducto
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR

UPDATE TbDetalleFactura SET ESTADO =@estado  WHERE CODIGOBARRAPRODUCTO = @codigobarraproducto and NFACTURA=@numfact
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR


COMMIT TRAN
MOSTRARERROR:
IF @@ERROR<>0
BEGIN
PRINT 'OCURRIO UN ERROR'
ROLLBACK TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[GRABA_EMPLEADO]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRABA_EMPLEADO]
	@TIPOIDENTIFICACION varchar(10),
	@IDENTIFICACION varchar(15),
	@NOMBRES varchar(30),
	@APELLIDOS varchar(30),
	@ACTIVO bit,
	@DIRECCION varchar(500),
	@IMAGEN image,
	@IDPARROQUIA int,
	@EMAIL varchar(100),
	@FECHANACIMIENTO varchar(50),
	@TIPOLICENCIA varchar(40),
	@TIPOSANGRE varchar(3),
	@LIBRETAMILITAR varchar(15),
	@DISCAPACIDAD bit,
	@PORCENTAJEDISCAPACIDAD int,
	@MOVIMIENTOQUINCENAL float,
	@GENERO varchar(10),
	@ESTADOCIVIL varchar(50),
	@SUELDOMENSUAL float,
	@SUELDOEXTRA float,
	@CELULAR1 varchar(15),
	@CELULAR2 varchar(15)
AS
BEGIN
	insert into TbEmpleado([TIPOIDENTIFICACION],[IDENTIFICACION],[NOMBRES] ,[APELLIDOS] ,[ACTIVO] ,[DIRECCION] ,[IMAGEN] ,[IDPARROQUIA] ,[EMAIL],[FECHANACIMIENTO] ,[TIPOLICENCIA],[TIPOSANGRE] ,[LIBRETAMILITAR] ,[DISCAPACIDAD] ,[PORCENTAJEDISCAPACIDAD] ,[MOVIMIENTOQUINCENAL],[GENERO] ,[ESTADOCIVIL],[SUELDOMENSUAL],[SUELDOEXTRA],[CELULAR1],[CELULAR2])	values 
	(@TIPOIDENTIFICACION,@IDENTIFICACION,@NOMBRES,@APELLIDOS,@ACTIVO,@DIRECCION,
	@IMAGEN,@IDPARROQUIA,@EMAIL,@FECHANACIMIENTO,@TIPOLICENCIA,@TIPOSANGRE,@LIBRETAMILITAR,@DISCAPACIDAD,@PORCENTAJEDISCAPACIDAD,
	@MOVIMIENTOQUINCENAL,@GENERO,@ESTADOCIVIL,@SUELDOMENSUAL,@SUELDOEXTRA,@CELULAR1,@CELULAR2)
END

GO
/****** Object:  StoredProcedure [dbo].[GRABA_EMPRESA]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRABA_EMPRESA]
	@NOMBRE varchar(50),
    @RUC varchar(15),
    @NOMBRECOMERCIAL varchar(50),
    @RAZONSOCIAL varchar(50),
    @GERENTE varchar(100),
    @DIRECCION	varchar(300),
    @EMAIL varchar(50),
    @FECHAINICIOCONTABLE varchar(50),
    @CELULAR1 varchar(15),
    @CELULAR2 varchar(15),
    @RUCCONTADOR varchar(15),
    @NOMBRECONTADOR varchar(200),
    @EMAILCONTADOR varchar(50),
    @CELULAR1CONTADOR  varchar(15),
    @CELULAR2CONTADOR varchar(15),
    @LOGO image,
    @FONDOPANTALLA image
AS
BEGIN
	INSERT INTO [dbo].[TbEmpresa] ([NOMBRE] ,[RUC] ,[NOMBRECOMERCIAL] ,[RAZONSOCIAL] ,[GERENTE],[DIRECCION] ,[EMAIL] ,[FECHAINICIOCONTABLE] ,[CELULAR1] ,[CELULAR2] ,[RUCCONTADOR] ,[NOMBRECONTADOR] ,[EMAILCONTADOR],[CELULAR1CONTADOR] ,[CELULAR2CONTADOR],[LOGO] ,[FONDOPANTALLA])	values 
	(@NOMBRE,@RUC,@NOMBRECOMERCIAL,@RAZONSOCIAL,@GERENTE,@DIRECCION,@EMAIL,@FECHAINICIOCONTABLE,@CELULAR1,@CELULAR2,@RUCCONTADOR,@NOMBRECONTADOR,@EMAILCONTADOR,@CELULAR1CONTADOR, @CELULAR2CONTADOR, @LOGO , @FONDOPANTALLA )
END

GO
/****** Object:  StoredProcedure [dbo].[GRABA_PRODUCTO]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GRABA_PRODUCTO]
	@NOMBREPRODUCTO varchar(250),
	@ACTIVO bit,
	@CODIGOBARRA varchar(150),
	@TIPOPRODUCTO varchar(250),
	@UNIDAMEDIDA varchar(25),
	@PESO varchar(60),
	@STOCKMAXIMO int,
	@STOCKMINIMO int,
	@CAJA int,
	@UNIDAD int,
	@PRECIOPUBLICO_IVA float,
	@PRECIOPUBLICO_SIN_IVA float,
	@PRECIOALMAYOR_IVA float,
	@PRECIOALMAYOR_SIN_IVA float,
	@PRECIOPORCAJA_IVA float,
	@PRECIOPORCAJA_SIN_IVA float,
	@IMAGENPRODUCTO image,
	@IVAESTADO bit,
	@OBSERVACIONES varchar(250),
	@IDCATEGORIA int,
	@CANTIDAD int
AS
BEGIN
	INSERT INTO [dbo].[TbProducto] ([NOMBREPRODUCTO],[ACTIVO],[CODIGOBARRA],[TIPOPRODUCTO],[UNIDAMEDIDA],[PESO],[STOCKMAXIMO],[STOCKMINIMO],[CAJA] ,[UNIDAD]  ,[PRECIOPUBLICO_IVA] ,[PRECIOPUBLICO_SIN_IVA] ,[PRECIOALMAYOR_IVA],[PRECIOALMAYOR_SIN_IVA],[PRECIOPORCAJA_IVA],[PRECIOPORCAJA_SIN_IVA] ,[IMAGENPRODUCTO],[IVAESTADO],[OBSERVACIONES],[IDCATEGORIA],[CANTIDAD])
		values 	(@NOMBREPRODUCTO,@ACTIVO,@CODIGOBARRA,@TIPOPRODUCTO,@UNIDAMEDIDA,@PESO,@STOCKMAXIMO,@STOCKMINIMO,@CAJA,@UNIDAD,@PRECIOPUBLICO_IVA,@PRECIOPUBLICO_SIN_IVA,@PRECIOALMAYOR_IVA ,@PRECIOALMAYOR_SIN_IVA ,@PRECIOPORCAJA_IVA ,@PRECIOPORCAJA_SIN_IVA ,@IMAGENPRODUCTO,@IVAESTADO,@OBSERVACIONES ,@IDCATEGORIA,@CANTIDAD)
END
GO
/****** Object:  StoredProcedure [dbo].[REGISTRAR_DETALLE_COMPRA]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[REGISTRAR_DETALLE_COMPRA]
@IDENCABEZADOCOMPRA INT, @CODIGOBARRA VARCHAR(30), @CANTIDAD INT, @PRECIOCOMPRA FLOAT, @DESCUENTO FLOAT,
@PRECIOVENTAPUBLICO FLOAT, @PRECIOMAYORISTA FLOAT, @PRECIOCAJAS FLOAT
AS
DECLARE @ERROR INT
BEGIN TRAN
INSERT INTO [dbo].[TbDetalleCompra]
           ([IDENCABEZADOCOMPRA],[CODIGOBARRAPRODUCTO],[CANTIDAD],[PRECIOCOMRPA],[DESCUENTO],[PRECIOVENTAPUBLICO]
           ,[PRECIOMAYORISTA],[PRECIOCAJAS])
     VALUES
           (@IDENCABEZADOCOMPRA,@CODIGOBARRA,@CANTIDAD,@PRECIOCOMPRA,@DESCUENTO,@PRECIOVENTAPUBLICO,
		   @PRECIOMAYORISTA,@PRECIOCAJAS)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR
COMMIT TRAN
MOSTRARERROR:
IF @@ERROR<>0
BEGIN
PRINT 'OCURRIO UN ERROR'
ROLLBACK TRAN
END

GO
/****** Object:  StoredProcedure [dbo].[REGISTRAR_ENCABEZADO_COMPRA]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[REGISTRAR_ENCABEZADO_COMPRA]
@NUMERO_ORDEN_COMPRA VARCHAR(30), @IDSUCURSAL INT, @FLETE FLOAT, @FECHAORDENCOMPRA DATE, @IDPROVEEDOR INT, 
@TERMINOPAGO VARCHAR(15), @PLAZOORDENCOMPRA VARCHAR(50), @IMPUESTO VARCHAR(15), @OBSERVACION VARCHAR(500),
@IVA FLOAT, @ICE FLOAT, @IRBP FLOAT, @SUBTOTALIVA float,@SUBTOTAL0 float,@SUBTOTAL float,@TOTAL float
AS
DECLARE @ERROR INT
BEGIN TRAN
INSERT INTO [dbo].[TbEncabezadoyPieCompra]
           ([ORDEN_COMPRA_NUMERO],[IDSUCURSAL],[FLETE],[FECHAORDENCOMPRA],[IDPROVEEDOR],[TERMINOPAGO],
		   [PLAZOORDENCOMPRA],[IMPUESTO],[OBSERVACION],[IVA],[ICE],[IRBP], [SUBTOTALIVA],[SUBTOTAL0],[SUBTOTAL],[TOTAL])
     VALUES
           (@NUMERO_ORDEN_COMPRA,@IDSUCURSAL,@FLETE,@FECHAORDENCOMPRA,@IDPROVEEDOR,@TERMINOPAGO,
		   @PLAZOORDENCOMPRA,@IMPUESTO,@OBSERVACION,@IVA,@ICE,@IRBP,@SUBTOTALIVA,@SUBTOTAL0,@SUBTOTAL,@TOTAL)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR
COMMIT TRAN
MOSTRARERROR:
IF @@ERROR<>0
BEGIN
PRINT 'OCURRIO UN ERROR'
ROLLBACK TRAN
END

GO
/****** Object:  StoredProcedure [dbo].[REGISTRAR_FACTURA]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[REGISTRAR_FACTURA]
@CONTADOR INT,  @sucursal int, @caja INT, @numfact int, @fecha DATE, @hora  time, 
@descuento float, @cant int, @iva float,@efectivo float,@cheque float,@credito float, @idempleado int, @idcliente int,@precio float, @codigobarraproducto varchar(20),@recibido float,@cambio float,@estado int

AS
DECLARE @ERROR INT, @IDENCABEZADOCOMPRA INT
BEGIN TRAN
--hola
IF(@CONTADOR=0)
begin
INSERT INTO TbEncabezadoFactura (SUCURSAL, CAJA, NFACTURA, FECHA, HORA, IDEMPLEADO, IDCLIENTE) 
VALUES ( @sucursal , @caja , @numfact , @fecha, @hora, @idempleado, @idcliente)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR
end

declare @IDENCABEZADOFACTURA int
set @IDENCABEZADOFACTURA = (select max(IDFACTURA) from TbEncabezadoFactura)

IF(@CONTADOR=0)begin
INSERT INTO TbDetallePago (EFECTIVO, CHEQUE, CREDITO, IVA,DESCUENTO,IDENCABEZADOFACT,RECIBIDO,CAMBIO) 
VALUES (@efectivo,@cheque,@credito,@iva,@descuento,@IDENCABEZADOFACTURA,@recibido,@cambio)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR
end

INSERT INTO TbDetalleFactura (CANTIDAD, PRECIO, CODIGOBARRAPRODUCTO, NFACTURA,ESTADO) 
VALUES (@cant,@precio,@codigobarraproducto,@IDENCABEZADOFACTURA,@estado)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR

declare @CantActual int;
set @CantActual =(select U.CANTIDAD from TbProducto U where U.CODIGOBARRA=@codigobarraproducto)
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR

declare @cantidactualizada int;
set @cantidactualizada=@CantActual-@cant;
UPDATE TbProducto SET CANTIDAD =@cantidactualizada  WHERE CODIGOBARRA = @codigobarraproducto
SET @ERROR = @@ERROR
IF(@ERROR<>0) GOTO MOSTRARERROR

COMMIT TRAN
MOSTRARERROR:
IF @@ERROR<>0
BEGIN
PRINT 'OCURRIO UN ERROR'
ROLLBACK TRAN
END
GO
/****** Object:  Table [dbo].[TbAutorizadosImprimir]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbAutorizadosImprimir](
	[IDAUTORIZADOPARAIMPRIMIR] [int] IDENTITY(1,1) NOT NULL,
	[PIE1] [varchar](100) NOT NULL,
	[PIE2] [varchar](100) NOT NULL,
	[PIE3] [varchar](100) NOT NULL,
	[PIE4] [varchar](100) NOT NULL,
	[IDPARAMETROSFACTURA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAUTORIZADOPARAIMPRIMIR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbAvance]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbAvance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [date] NOT NULL,
	[CAJA] [int] NOT NULL,
	[CANTIDAD] [float] NOT NULL,
	[IDEMPLEADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbBitacora]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbBitacora](
	[IDBITACORA] [int] IDENTITY(1,1) NOT NULL,
	[IP] [varchar](30) NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORAINICIO] [time](7) NOT NULL,
	[HORAFIN] [time](7) NOT NULL,
	[DESCRIPCION] [varchar](300) NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBITACORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbBodega]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbBodega](
	[IDBODEGA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[UBICACION] [varchar](100) NOT NULL,
	[IDEMPLEADO] [int] NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBODEGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCanton]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbCanton](
	[IDCANTON] [int] IDENTITY(1,1) NOT NULL,
	[IDPROVINCIA] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCANTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCategoria]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbCategoria](
	[IDCATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NOT NULL,
	[COMBO] [bit] NULL,
	[MANEJAINVENTARIO] [bit] NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbCliente]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbCliente](
	[IDCLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[TIPOCLIENTE] [varchar](20) NOT NULL,
	[TIPOIDENTIFICACION] [varchar](10) NOT NULL,
	[IDENTIFICACION] [varchar](15) NOT NULL,
	[ACTIVO] [bit] NULL,
	[NOMBRES] [varchar](100) NOT NULL,
	[APELLIDOS] [varchar](100) NOT NULL,
	[FECHANACIMIENTO] [date] NULL,
	[RAZONSOCIAL] [varchar](100) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIRECCION] [varchar](500) NOT NULL,
	[ACTIVIDADECONOMICA] [varchar](10) NULL,
	[IDPARROQUIA] [int] NULL,
	[CASILLA] [int] NULL,
	[FAX] [varchar](10) NULL,
	[CELULAR1] [varchar](15) NULL,
	[CELULAR2] [varchar](15) NULL,
	[OBSERVACION] [varchar](300) NULL,
	[ESPECIFICACIONES_CATEGORIA] [varchar](2) NULL,
	[ESPECIFICACIONES_TIPOCREDITO] [varchar](8) NULL,
	[CONDICIONES_COMERC_CREDITOASIGNADO] [float] NULL,
	[CONDICIONES_COMERC_CUPOCREDITO] [float] NULL,
	[CONDICIONES_COMERC_DESCUENTO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbDatosCheque]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbDatosCheque](
	[IDCHEQUE] [int] IDENTITY(1,1) NOT NULL,
	[NUMCHEQUE] [varchar](20) NOT NULL,
	[NUMCUENTA] [varchar](20) NOT NULL,
	[BANCO] [varchar](100) NULL,
	[FECHA] [date] NULL,
	[PROPIETARIO] [varchar](150) NULL,
	[MONTO] [float] NOT NULL,
	[IDEMCABEZADOFACT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCHEQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbDatosTarjeta]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbDatosTarjeta](
	[IDTARJETA] [int] IDENTITY(1,1) NOT NULL,
	[NUMCHEQUE] [varchar](20) NOT NULL,
	[FECHA] [date] NOT NULL,
	[MONTO] [float] NOT NULL,
	[TIPOTARJETA] [varchar](100) NOT NULL,
	[IDEMCABEZADOFACT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTARJETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbDetalleCompra]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbDetalleCompra](
	[IDDETALLECOMPRA] [int] IDENTITY(1,1) NOT NULL,
	[IDENCABEZADOCOMPRA] [int] NOT NULL,
	[CODIGOBARRAPRODUCTO] [varchar](30) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIOCOMRPA] [float] NOT NULL,
	[DESCUENTO] [float] NOT NULL,
	[PRECIOVENTAPUBLICO] [float] NOT NULL,
	[PRECIOMAYORISTA] [float] NOT NULL,
	[PRECIOCAJAS] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDETALLECOMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbDetalleFactura]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbDetalleFactura](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PRECIO] [float] NOT NULL,
	[CODIGOBARRAPRODUCTO] [varchar](50) NOT NULL,
	[NFACTURA] [int] NOT NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbDetallePago]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDetallePago](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EFECTIVO] [float] NOT NULL,
	[CHEQUE] [float] NOT NULL,
	[CREDITO] [float] NOT NULL,
	[IVA] [float] NOT NULL,
	[DESCUENTO] [float] NOT NULL,
	[IDENCABEZADOFACT] [int] NOT NULL,
	[RECIBIDO] [float] NULL,
	[CAMBIO] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbEmpleado]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbEmpleado](
	[IDEMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[TIPOIDENTIFICACION] [varchar](10) NOT NULL,
	[IDENTIFICACION] [varchar](15) NOT NULL,
	[NOMBRES] [varchar](30) NOT NULL,
	[APELLIDOS] [varchar](30) NOT NULL,
	[ACTIVO] [bit] NULL,
	[DIRECCION] [varchar](500) NOT NULL,
	[IMAGEN] [image] NULL,
	[IDPARROQUIA] [int] NULL,
	[EMAIL] [varchar](50) NULL,
	[FECHANACIMIENTO] [date] NULL,
	[TIPOLICENCIA] [varchar](40) NULL,
	[TIPOSANGRE] [varchar](3) NULL,
	[LIBRETAMILITAR] [varchar](15) NULL,
	[DISCAPACIDAD] [bit] NULL,
	[PORCENTAJEDISCAPACIDAD] [int] NULL,
	[MOVIMIENTOQUINCENAL] [float] NULL,
	[GENERO] [varchar](10) NOT NULL,
	[ESTADOCIVIL] [varchar](50) NULL,
	[SUELDOMENSUAL] [float] NULL,
	[SUELDOEXTRA] [float] NULL,
	[CELULAR1] [varchar](15) NOT NULL,
	[CELULAR2] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbEmpresa]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbEmpresa](
	[IDEMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[RUC] [varchar](15) NOT NULL,
	[NOMBRECOMERCIAL] [varchar](50) NOT NULL,
	[RAZONSOCIAL] [varchar](50) NOT NULL,
	[GERENTE] [varchar](100) NOT NULL,
	[DIRECCION] [varchar](300) NULL,
	[EMAIL] [varchar](50) NULL,
	[FECHAINICIOCONTABLE] [date] NOT NULL,
	[CELULAR1] [varchar](15) NOT NULL,
	[CELULAR2] [varchar](15) NULL,
	[RUCCONTADOR] [varchar](15) NULL,
	[NOMBRECONTADOR] [varchar](100) NULL,
	[EMAILCONTADOR] [varchar](50) NULL,
	[CELULAR1CONTADOR] [varchar](15) NULL,
	[CELULAR2CONTADOR] [varchar](15) NULL,
	[LOGO] [image] NULL,
	[FONDOPANTALLA] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbEncabezadoFactura]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbEncabezadoFactura](
	[IDFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[SUCURSAL] [int] NOT NULL,
	[CAJA] [int] NOT NULL,
	[NFACTURA] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[HORA] [time](7) NOT NULL,
	[IDEMPLEADO] [int] NOT NULL,
	[IDCLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbEncabezadoyPieCompra]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbEncabezadoyPieCompra](
	[IDEMCABEZADOCOMPRA] [int] IDENTITY(1,1) NOT NULL,
	[ORDEN_COMPRA_NUMERO] [varchar](30) NOT NULL,
	[IDSUCURSAL] [int] NOT NULL,
	[FLETE] [float] NOT NULL,
	[FECHAORDENCOMPRA] [date] NOT NULL,
	[IDPROVEEDOR] [int] NOT NULL,
	[TERMINOPAGO] [varchar](15) NOT NULL,
	[PLAZOORDENCOMPRA] [varchar](50) NULL,
	[IMPUESTO] [varchar](15) NOT NULL,
	[OBSERVACION] [varchar](500) NULL,
	[IVA] [float] NOT NULL,
	[ICE] [float] NOT NULL,
	[IRBP] [float] NOT NULL,
	[SUBTOTALIVA] [float] NOT NULL,
	[SUBTOTAL0] [float] NOT NULL,
	[SUBTOTAL] [float] NOT NULL,
	[TOTAL] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMCABEZADOCOMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbIva]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbIva](
	[IDIVA] [int] IDENTITY(1,1) NOT NULL,
	[IVA] [varchar](5) NOT NULL,
	[IDEMPRESA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDIVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbOtraInformacionCliente]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbOtraInformacionCliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](50) NULL,
	[IDENTIFICACION] [varchar](15) NULL,
	[NOMBRE] [varchar](200) NULL,
	[EMAIL] [varchar](50) NULL,
	[CELULAR] [varchar](15) NULL,
	[IDCLIENTE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbPais]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbPais](
	[IDPAIS] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbParametrosFactura]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TbParametrosFactura](
	[IDPARAMETROSFACTURA] [int] IDENTITY(1,1) NOT NULL,
	[MONTO_MINIMO_FACTURA] [float] NOT NULL,
	[IVA] [varchar](3) NOT NULL,
	[CONTRIBUYENTEESPECIAL] [bit] NOT NULL,
	[OBLIGADOLLEVARCONTABILIDAD] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPARAMETROSFACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbParroquia]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbParroquia](
	[IDPARROQUIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[IDCanton] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPARROQUIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbPreimpresa]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPreimpresa](
	[IDPREIMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[ANCHO] [float] NOT NULL,
	[LARGO] [float] NOT NULL,
	[NUMEROITEMS] [int] NOT NULL,
	[IDPARAMETROSFACTURA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPREIMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TbProducto]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbProducto](
	[IDPRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREPRODUCTO] [varchar](250) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[CODIGOBARRA] [varchar](150) NOT NULL,
	[TIPOPRODUCTO] [varchar](250) NOT NULL,
	[UNIDAMEDIDA] [varchar](25) NULL,
	[PESO] [varchar](60) NULL,
	[STOCKMAXIMO] [int] NULL,
	[STOCKMINIMO] [int] NULL,
	[CAJA] [int] NULL,
	[UNIDAD] [int] NULL,
	[PRECIOPUBLICO_IVA] [float] NOT NULL,
	[PRECIOPUBLICO_SIN_IVA] [float] NOT NULL,
	[PRECIOALMAYOR_IVA] [float] NOT NULL,
	[PRECIOALMAYOR_SIN_IVA] [float] NOT NULL,
	[PRECIOPORCAJA_IVA] [float] NOT NULL,
	[PRECIOPORCAJA_SIN_IVA] [float] NOT NULL,
	[IMAGENPRODUCTO] [image] NULL,
	[IVAESTADO] [bit] NOT NULL,
	[OBSERVACIONES] [varchar](250) NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[CANTIDAD] [int] NULL,
	[PRECIOCOMPRA] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbProveedor]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbProveedor](
	[IDPROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](25) NOT NULL,
	[NOMBRES] [varchar](100) NOT NULL,
	[TIPOIDENTIFICACION] [varchar](10) NOT NULL,
	[IDENTIFICACION] [varchar](15) NOT NULL,
	[NACIONALIDAD] [varchar](5) NOT NULL,
	[NATURALEZA] [varchar](10) NOT NULL,
	[DIRECCION] [varchar](500) NOT NULL,
	[RAZONSOCIAL] [varchar](200) NULL,
	[TELEFONO] [varchar](12) NULL,
	[CELULAR] [varchar](12) NULL,
	[RESPONSABLE] [varchar](500) NULL,
	[TIPOSERVICIO] [varchar](25) NULL,
	[PLAZO] [int] NULL,
	[EMAIL] [varchar](50) NULL,
	[GIRACHEQUEA] [varchar](500) NULL,
	[IDPARROQUIA] [int] NOT NULL,
	[TIPOGASTO] [varchar](24) NULL,
	[FAX] [varchar](10) NULL,
	[ESTADO] [bit] NULL,
	[PROVEEDORRISE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbProvincia]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbProvincia](
	[IDPROVINCIA] [int] IDENTITY(1,1) NOT NULL,
	[IDPAIS] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROVINCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbSucursal]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbSucursal](
	[IDSUCURSAL] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [int] NOT NULL,
	[NOMBRESUCURSAL] [varchar](200) NOT NULL,
	[RUC] [varchar](15) NULL,
	[TELEFONO] [varchar](11) NULL,
	[CELULAR] [varchar](11) NULL,
	[JEFESUCURSAL] [varchar](200) NOT NULL,
	[EMAIL] [varchar](30) NULL,
	[DIRECCION] [varchar](200) NOT NULL,
	[UBICACION] [varchar](200) NULL,
	[ESTADO] [bit] NOT NULL,
	[IDEMPRESA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSUCURSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbTipoDocumento]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbTipoDocumento](
	[IDTIPODOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](50) NOT NULL,
	[NOMBREDOCUMENTO] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIPODOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbTipoServicio]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[TbTipoServicio](
	[IDSERVICIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](12) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbTipousuario]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbTipousuario](
	[IDTIPOUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIPOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TbUsuario]    Script Date: 09/11/2017 11:43:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbUsuario](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[IDEMPLEADO] [int] NOT NULL,
	[USUARIO] [varchar](12) NOT NULL,
	[CONTRASEÑA] [varchar](15) NOT NULL,
	[IDTIPOUSUARIO] [int] NOT NULL,
	[IDEMPRESA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TbAutorizadosImprimir] ON 

INSERT [dbo].[TbAutorizadosImprimir] ([IDAUTORIZADOPARAIMPRIMIR], [PIE1], [PIE2], [PIE3], [PIE4], [IDPARAMETROSFACTURA]) VALUES (1, N'', N'', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[TbAutorizadosImprimir] OFF
SET IDENTITY_INSERT [dbo].[TbBitacora] ON 

INSERT [dbo].[TbBitacora] ([IDBITACORA], [IP], [FECHA], [HORAINICIO], [HORAFIN], [DESCRIPCION], [IDUSUARIO]) VALUES (1, N'192.168.0.123', CAST(0x7E3D0B00 AS Date), CAST(0x07D9D7C5C35A0000 AS Time), CAST(0x0700000000000000 AS Time), N'Inicio de Sessión', 1)
INSERT [dbo].[TbBitacora] ([IDBITACORA], [IP], [FECHA], [HORAINICIO], [HORAFIN], [DESCRIPCION], [IDUSUARIO]) VALUES (2, N'192.168.0.123', CAST(0x7E3D0B00 AS Date), CAST(0x075280CEDB620000 AS Time), CAST(0x0700000000000000 AS Time), N'Inicio de Sessión', 1)
INSERT [dbo].[TbBitacora] ([IDBITACORA], [IP], [FECHA], [HORAINICIO], [HORAFIN], [DESCRIPCION], [IDUSUARIO]) VALUES (3, N'192.168.0.123', CAST(0x7E3D0B00 AS Date), CAST(0x0741582957630000 AS Time), CAST(0x0700000000000000 AS Time), N'Inicio de Sessión', 1)
SET IDENTITY_INSERT [dbo].[TbBitacora] OFF
SET IDENTITY_INSERT [dbo].[TbCanton] ON 

INSERT [dbo].[TbCanton] ([IDCANTON], [IDPROVINCIA], [NOMBRE]) VALUES (1, 1, N'CUENCA')
INSERT [dbo].[TbCanton] ([IDCANTON], [IDPROVINCIA], [NOMBRE]) VALUES (2, 1, N'GIRON')
INSERT [dbo].[TbCanton] ([IDCANTON], [IDPROVINCIA], [NOMBRE]) VALUES (3, 1, N'GUALACEO')
GO
SET IDENTITY_INSERT [dbo].[TbCanton] OFF
SET IDENTITY_INSERT [dbo].[TbCategoria] ON 

INSERT [dbo].[TbCategoria] ([IDCATEGORIA], [DESCRIPCION], [COMBO], [MANEJAINVENTARIO], [ESTADO]) VALUES (1, N'
ACCESORIO DE OFICINA', 0, 0, 1)
INSERT [dbo].[TbCategoria] ([IDCATEGORIA], [DESCRIPCION], [COMBO], [MANEJAINVENTARIO], [ESTADO]) VALUES (2, N' ACEITES Y GRASA', 0, 0, 1)
INSERT [dbo].[TbCategoria] ([IDCATEGORIA], [DESCRIPCION], [COMBO], [MANEJAINVENTARIO], [ESTADO]) VALUES (3, N'ALIÑOS Y CONDIMENTOS', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[TbCategoria] OFF
SET IDENTITY_INSERT [dbo].[TbCliente] ON 

SET IDENTITY_INSERT [dbo].[TbCliente] OFF
SET IDENTITY_INSERT [dbo].[TbDetalleCompra] ON 

INSERT [dbo].[TbDetalleCompra] ([IDDETALLECOMPRA], [IDENCABEZADOCOMPRA], [CODIGOBARRAPRODUCTO], [CANTIDAD], [PRECIOCOMRPA], [DESCUENTO], [PRECIOVENTAPUBLICO], [PRECIOMAYORISTA], [PRECIOCAJAS]) VALUES (1, 0, N'123', 2, 2, 3, 32, 32, 1)
INSERT [dbo].[TbDetalleCompra] ([IDDETALLECOMPRA], [IDENCABEZADOCOMPRA], [CODIGOBARRAPRODUCTO], [CANTIDAD], [PRECIOCOMRPA], [DESCUENTO], [PRECIOVENTAPUBLICO], [PRECIOMAYORISTA], [PRECIOCAJAS]) VALUES (2, 0, N'123', 2, 2, 3, 32, 32, 1)
INSERT [dbo].[TbDetalleCompra] ([IDDETALLECOMPRA], [IDENCABEZADOCOMPRA], [CODIGOBARRAPRODUCTO], [CANTIDAD], [PRECIOCOMRPA], [DESCUENTO], [PRECIOVENTAPUBLICO], [PRECIOMAYORISTA], [PRECIOCAJAS]) VALUES (3, 0, N'123', 2, 2, 3, 32, 32, 1)
SET IDENTITY_INSERT [dbo].[TbDetalleCompra] OFF
SET IDENTITY_INSERT [dbo].[TbEmpleado] ON 

SET IDENTITY_INSERT [dbo].[TbEmpleado] OFF
SET IDENTITY_INSERT [dbo].[TbEmpresa] ON 

SET IDENTITY_INSERT [dbo].[TbEmpresa] OFF
SET IDENTITY_INSERT [dbo].[TbEncabezadoyPieCompra] ON 

INSERT [dbo].[TbEncabezadoyPieCompra] ([IDEMCABEZADOCOMPRA], [ORDEN_COMPRA_NUMERO], [IDSUCURSAL], [FLETE], [FECHAORDENCOMPRA], [IDPROVEEDOR], [TERMINOPAGO], [PLAZOORDENCOMPRA], [IMPUESTO], [OBSERVACION], [IVA], [ICE], [IRBP], [SUBTOTALIVA], [SUBTOTAL0], [SUBTOTAL], [TOTAL]) VALUES (5, N'122', 1, 22, CAST(0x803D0B00 AS Date), 7, N'', N'2', N'IVA 14%', N'22', 0.47999998927116394, 2, 2, 4, 0, 4, 4)
INSERT [dbo].[TbEncabezadoyPieCompra] ([IDEMCABEZADOCOMPRA], [ORDEN_COMPRA_NUMERO], [IDSUCURSAL], [FLETE], [FECHAORDENCOMPRA], [IDPROVEEDOR], [TERMINOPAGO], [PLAZOORDENCOMPRA], [IMPUESTO], [OBSERVACION], [IVA], [ICE], [IRBP], [SUBTOTALIVA], [SUBTOTAL0], [SUBTOTAL], [TOTAL]) VALUES (6, N'2', 1, 2, CAST(0x803D0B00 AS Date), 7, N'15 DÍAS', N'2', N'IVA 14%', N'2', 0.47999998927116394, 2, 2, 4, 0, 4, 4)
INSERT [dbo].[TbEncabezadoyPieCompra] ([IDEMCABEZADOCOMPRA], [ORDEN_COMPRA_NUMERO], [IDSUCURSAL], [FLETE], [FECHAORDENCOMPRA], [IDPROVEEDOR], [TERMINOPAGO], [PLAZOORDENCOMPRA], [IMPUESTO], [OBSERVACION], [IVA], [ICE], [IRBP], [SUBTOTALIVA], [SUBTOTAL0], [SUBTOTAL], [TOTAL]) VALUES (7, N'22345', 1, 2, CAST(0x803D0B00 AS Date), 7, N'15 DÍAS', N'2', N'IVA 14%', N'2', 0.47999998927116394, 2, 2, 4, 0, 4, 4)
SET IDENTITY_INSERT [dbo].[TbEncabezadoyPieCompra] OFF
SET IDENTITY_INSERT [dbo].[TbIva] ON 

INSERT [dbo].[TbIva] ([IDIVA], [IVA], [IDEMPRESA]) VALUES (1, N'12', 1)
INSERT [dbo].[TbIva] ([IDIVA], [IVA], [IDEMPRESA]) VALUES (2, N'14', 1)
SET IDENTITY_INSERT [dbo].[TbIva] OFF
SET IDENTITY_INSERT [dbo].[TbOtraInformacionCliente] ON 

INSERT [dbo].[TbOtraInformacionCliente] ([ID], [TIPO], [IDENTIFICACION], [NOMBRE], [EMAIL], [CELULAR], [IDCLIENTE]) VALUES (1, N'Representante Legal', N'12', N'a', N'1', N'1', 1)
INSERT [dbo].[TbOtraInformacionCliente] ([ID], [TIPO], [IDENTIFICACION], [NOMBRE], [EMAIL], [CELULAR], [IDCLIENTE]) VALUES (2, N'Gerente General', N'13', N'b', N'2', N'2', 1)
INSERT [dbo].[TbOtraInformacionCliente] ([ID], [TIPO], [IDENTIFICACION], [NOMBRE], [EMAIL], [CELULAR], [IDCLIENTE]) VALUES (3, N'Garante', N'14', N'c', N'3', N'3', 1)
SET IDENTITY_INSERT [dbo].[TbOtraInformacionCliente] OFF
SET IDENTITY_INSERT [dbo].[TbPais] ON 

INSERT [dbo].[TbPais] ([IDPAIS], [NOMBRE]) VALUES (1, N'ECUADOR')
SET IDENTITY_INSERT [dbo].[TbPais] OFF
SET IDENTITY_INSERT [dbo].[TbParametrosFactura] ON 

INSERT [dbo].[TbParametrosFactura] ([IDPARAMETROSFACTURA], [MONTO_MINIMO_FACTURA], [IVA], [CONTRIBUYENTEESPECIAL], [OBLIGADOLLEVARCONTABILIDAD]) VALUES (1, 2, N'12', 1, 0)
SET IDENTITY_INSERT [dbo].[TbParametrosFactura] OFF
SET IDENTITY_INSERT [dbo].[TbParroquia] ON 

INSERT [dbo].[TbParroquia] ([IDPARROQUIA], [NOMBRE], [IDCanton]) VALUES (1, N'CLEMENTE BAQUERIZO', 123)
INSERT [dbo].[TbParroquia] ([IDPARROQUIA], [NOMBRE], [IDCanton]) VALUES (2, N'DR. CAMILO PONCE', 123)
INSERT [dbo].[TbParroquia] ([IDPARROQUIA], [NOMBRE], [IDCanton]) VALUES (3, N'BARREIRO', 123)
SET IDENTITY_INSERT [dbo].[TbParroquia] OFF
SET IDENTITY_INSERT [dbo].[TbPreimpresa] ON 

INSERT [dbo].[TbPreimpresa] ([IDPREIMPRESA], [ANCHO], [LARGO], [NUMEROITEMS], [IDPARAMETROSFACTURA]) VALUES (1, 8.5, 20.5, 1, 1)
SET IDENTITY_INSERT [dbo].[TbPreimpresa] OFF
SET IDENTITY_INSERT [dbo].[TbProducto] ON 

INSERT [dbo].[TbProducto] ([IDPRODUCTO], [NOMBREPRODUCTO], [ACTIVO], [CODIGOBARRA], [TIPOPRODUCTO], [UNIDAMEDIDA], [PESO], [STOCKMAXIMO], [STOCKMINIMO], [CAJA], [UNIDAD], [PRECIOPUBLICO_IVA], [PRECIOPUBLICO_SIN_IVA], [PRECIOALMAYOR_IVA], [PRECIOALMAYOR_SIN_IVA], [PRECIOPORCAJA_IVA], [PRECIOPORCAJA_SIN_IVA], [IMAGENPRODUCTO], [IVAESTADO], [OBSERVACIONES], [IDCATEGORIA], [CANTIDAD], [PRECIOCOMPRA]) VALUES (1, N'Cola', 1, N'123', N'Codigo', N'1', N'1', 2, 3, 4, 3, 6, 6, 7, 7, 8, 8, NULL, 1, N'2', 1, 2, 2)
SET IDENTITY_INSERT [dbo].[TbProducto] OFF
SET IDENTITY_INSERT [dbo].[TbProveedor] ON 

INSERT [dbo].[TbProveedor] ([IDPROVEEDOR], [CODIGO], [NOMBRES], [TIPOIDENTIFICACION], [IDENTIFICACION], [NACIONALIDAD], [NATURALEZA], [DIRECCION], [RAZONSOCIAL], [TELEFONO], [CELULAR], [RESPONSABLE], [TIPOSERVICIO], [PLAZO], [EMAIL], [GIRACHEQUEA], [IDPARROQUIA], [TIPOGASTO], [FAX], [ESTADO], [PROVEEDORRISE]) VALUES (7, N'12', N'D', N'3', N'2', N'4', N'HHHJ', N'234567', N'H', N'H', NULL, N'JU', N'45', 6, N'6', N'6', 7, N'H', N'H', 1, 0)
INSERT [dbo].[TbProveedor] ([IDPROVEEDOR], [CODIGO], [NOMBRES], [TIPOIDENTIFICACION], [IDENTIFICACION], [NACIONALIDAD], [NATURALEZA], [DIRECCION], [RAZONSOCIAL], [TELEFONO], [CELULAR], [RESPONSABLE], [TIPOSERVICIO], [PLAZO], [EMAIL], [GIRACHEQUEA], [IDPARROQUIA], [TIPOGASTO], [FAX], [ESTADO], [PROVEEDORRISE]) VALUES (13, N'001', N'PEDRO GONZALES LANG', N'CÉDULA', N'1207832441', N'NAC', N'Natural', N'QUEVEDO SAN CAMILO', N'PEDRO GONZALES LANG', N'', N'0997983219', N'LUIS ALFREDO', N'', 3, N'PEDRO@GMAIL.COM', N'CARMEN GARCIA', 18, N'Gastos Locales', N'21312312', 1, 0)
INSERT [dbo].[TbProveedor] ([IDPROVEEDOR], [CODIGO], [NOMBRES], [TIPOIDENTIFICACION], [IDENTIFICACION], [NACIONALIDAD], [NATURALEZA], [DIRECCION], [RAZONSOCIAL], [TELEFONO], [CELULAR], [RESPONSABLE], [TIPOSERVICIO], [PLAZO], [EMAIL], [GIRACHEQUEA], [IDPARROQUIA], [TIPOGASTO], [FAX], [ESTADO], [PROVEEDORRISE]) VALUES (18, N'2', N'D', N'CÉDULA', N'1202806376', N'NAC', N'NATURAL', N'2', N'3', N'2', N'4', N'D', N'', 1, N'D', N'D', 1, N'GASTOS LOCALES', N'ww', 1, 0)
SET IDENTITY_INSERT [dbo].[TbProveedor] OFF
SET IDENTITY_INSERT [dbo].[TbProvincia] ON 

INSERT [dbo].[TbProvincia] ([IDPROVINCIA], [IDPAIS], [NOMBRE]) VALUES (1, 1, N'AZUAY')
INSERT [dbo].[TbProvincia] ([IDPROVINCIA], [IDPAIS], [NOMBRE]) VALUES (2, 1, N'BOLIVAR')
INSERT [dbo].[TbProvincia] ([IDPROVINCIA], [IDPAIS], [NOMBRE]) VALUES (3, 1, N'CAÑAR')
SET IDENTITY_INSERT [dbo].[TbProvincia] OFF
SET IDENTITY_INSERT [dbo].[TbSucursal] ON 

INSERT [dbo].[TbSucursal] ([IDSUCURSAL], [CODIGO], [NOMBRESUCURSAL], [RUC], [TELEFONO], [CELULAR], [JEFESUCURSAL], [EMAIL], [DIRECCION], [UBICACION], [ESTADO], [IDEMPRESA]) VALUES (1, 1, N'SQ', N'1231', N'123', N'122345', N'YO', N'DHDFH', N'DNINVN', N'HDHDH', 1, 1)
SET IDENTITY_INSERT [dbo].[TbSucursal] OFF
SET IDENTITY_INSERT [dbo].[TbTipoDocumento] ON 

INSERT [dbo].[TbTipoDocumento] ([IDTIPODOCUMENTO], [CODIGO], [NOMBREDOCUMENTO]) VALUES (1, N'001', N'FACTURA')
INSERT [dbo].[TbTipoDocumento] ([IDTIPODOCUMENTO], [CODIGO], [NOMBREDOCUMENTO]) VALUES (2, N'002', N'NOTA O BOLETA DE  VENTA')
INSERT [dbo].[TbTipoDocumento] ([IDTIPODOCUMENTO], [CODIGO], [NOMBREDOCUMENTO]) VALUES (3, N'003', N'LIQUIDACION DE COMPRA DE BIENES O PRESTACION DE SERVICIOS')
SET IDENTITY_INSERT [dbo].[TbTipoDocumento] OFF
SET IDENTITY_INSERT [dbo].[TbTipousuario] ON 

INSERT [dbo].[TbTipousuario] ([IDTIPOUSUARIO], [TIPO]) VALUES (1, N'ADMIN')
INSERT [dbo].[TbTipousuario] ([IDTIPOUSUARIO], [TIPO]) VALUES (2, N'CAJERO')
INSERT [dbo].[TbTipousuario] ([IDTIPOUSUARIO], [TIPO]) VALUES (3, N'SUPERVISOR')
SET IDENTITY_INSERT [dbo].[TbTipousuario] OFF
SET IDENTITY_INSERT [dbo].[TbUsuario] ON 

INSERT [dbo].[TbUsuario] ([IDUSUARIO], [IDEMPLEADO], [USUARIO], [CONTRASEÑA], [IDTIPOUSUARIO], [IDEMPRESA]) VALUES (1, 1, N'ADMIN', N'ADMINISTRADOR', 1, 1)
SET IDENTITY_INSERT [dbo].[TbUsuario] OFF
ALTER TABLE [dbo].[TbAutorizadosImprimir]  WITH CHECK ADD FOREIGN KEY([IDPARAMETROSFACTURA])
REFERENCES [dbo].[TbParametrosFactura] ([IDPARAMETROSFACTURA])
GO
ALTER TABLE [dbo].[TbAvance]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[TbEmpleado] ([IDEMPLEADO])
GO
ALTER TABLE [dbo].[TbBitacora]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[TbUsuario] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[TbBodega]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[TbEmpleado] ([IDEMPLEADO])
GO
ALTER TABLE [dbo].[TbCanton]  WITH CHECK ADD FOREIGN KEY([IDPROVINCIA])
REFERENCES [dbo].[TbProvincia] ([IDPROVINCIA])
GO
ALTER TABLE [dbo].[TbCliente]  WITH CHECK ADD FOREIGN KEY([IDPARROQUIA])
REFERENCES [dbo].[TbParroquia] ([IDPARROQUIA])
GO
ALTER TABLE [dbo].[TbDatosCheque]  WITH CHECK ADD FOREIGN KEY([IDEMCABEZADOFACT])
REFERENCES [dbo].[TbEncabezadoFactura] ([IDFACTURA])
GO
ALTER TABLE [dbo].[TbDatosTarjeta]  WITH CHECK ADD FOREIGN KEY([IDEMCABEZADOFACT])
REFERENCES [dbo].[TbEncabezadoFactura] ([IDFACTURA])
GO
ALTER TABLE [dbo].[TbDetalleFactura]  WITH CHECK ADD FOREIGN KEY([NFACTURA])
REFERENCES [dbo].[TbEncabezadoFactura] ([IDFACTURA])
GO
ALTER TABLE [dbo].[TbDetallePago]  WITH CHECK ADD FOREIGN KEY([IDENCABEZADOFACT])
REFERENCES [dbo].[TbEncabezadoFactura] ([IDFACTURA])
GO
ALTER TABLE [dbo].[TbEmpleado]  WITH CHECK ADD FOREIGN KEY([IDPARROQUIA])
REFERENCES [dbo].[TbParroquia] ([IDPARROQUIA])
GO
ALTER TABLE [dbo].[TbEncabezadoFactura]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[TbCliente] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[TbEncabezadoFactura]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[TbEmpleado] ([IDEMPLEADO])
GO
ALTER TABLE [dbo].[TbIva]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[TbEmpresa] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[TbOtraInformacionCliente]  WITH CHECK ADD FOREIGN KEY([IDCLIENTE])
REFERENCES [dbo].[TbCliente] ([IDCLIENTE])
GO
ALTER TABLE [dbo].[TbParroquia]  WITH CHECK ADD FOREIGN KEY([IDCanton])
REFERENCES [dbo].[TbCanton] ([IDCANTON])
GO
ALTER TABLE [dbo].[TbPreimpresa]  WITH CHECK ADD FOREIGN KEY([IDPARAMETROSFACTURA])
REFERENCES [dbo].[TbParametrosFactura] ([IDPARAMETROSFACTURA])
GO
ALTER TABLE [dbo].[TbProducto]  WITH CHECK ADD FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[TbCategoria] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[TbProveedor]  WITH CHECK ADD FOREIGN KEY([IDPARROQUIA])
REFERENCES [dbo].[TbParroquia] ([IDPARROQUIA])
GO
ALTER TABLE [dbo].[TbProvincia]  WITH CHECK ADD FOREIGN KEY([IDPAIS])
REFERENCES [dbo].[TbPais] ([IDPAIS])
GO
ALTER TABLE [dbo].[TbSucursal]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[TbEmpresa] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[TbUsuario]  WITH CHECK ADD FOREIGN KEY([IDEMPLEADO])
REFERENCES [dbo].[TbEmpleado] ([IDEMPLEADO])
GO
ALTER TABLE [dbo].[TbUsuario]  WITH CHECK ADD FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[TbEmpresa] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[TbUsuario]  WITH CHECK ADD FOREIGN KEY([IDTIPOUSUARIO])
REFERENCES [dbo].[TbTipousuario] ([IDTIPOUSUARIO])
GO
USE [master]
GO
